.gridContainer{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 15px;
    border: 1px solid black;
    .titleFile{
        font-size: 20px;
        text-decoration: underline;
    }
    .fileManagerItem{
        transition: 0.3s;
        width: 10%;
        // background-color: white;
        // padding: 20px;
    }
    .fileManagerItem:hover{cursor: pointer;}
    .textContainer{
        padding: 2px 16px;
        font-size: 30px;
        text-align: center;
    }
}