.gridContainer{
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    .fileManagerItem{
        background-color: white;
        padding: 20px;
        font-size: 30px;
        text-align: center;
    }
}